.root {
    -fx-font-size: 10pt;
    -fx-font-family: Calibri;
}

#resultContainer {
    -fx-background-color: rgba(52, 114, 216, 0.7);
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#resultContainer Label {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 0px 5px;
}

#btnUpdateInfo {
    -fx-background-color: rgba(52, 114, 216, 0.4);
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-radius: 5px;
}

.root NavItem {
    -fx-background-color: rgba(52, 114, 216, 1);
}

.root NavItem > .button {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-padding: 0px 0px 10px 0px;
    -fx-font-size: 18pt;
}

.root NavItem > .label {
    -fx-text-fill: #ddd;
    -fx-font-weight: 100;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 8pt;
}